# Compiled class file
*.class
*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.springBeans


# Log file
*.log
logs


# BlueJ files
*.ctxt


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
classes/
/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
target/


# Eclipse artifacts, including WTP generated manifests
.classpath
.project
.svn
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
