<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voice9.core.mapper.CallDeviceMapper">
    <resultMap id="BaseResultMap" type="com.voice9.core.entity.CallDevice">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="cts" jdbcType="BIGINT" property="cts"/>
        <result column="uts" jdbcType="BIGINT" property="uts"/>
        <result column="company_id" jdbcType="BIGINT" property="companyId"/>
        <result column="call_id" jdbcType="BIGINT" property="callId"/>
        <result column="device_id" jdbcType="VARCHAR" property="deviceId"/>
        <result column="agent_key" jdbcType="VARCHAR" property="agentKey"/>
        <result column="agent_name" jdbcType="VARCHAR" property="agentName"/>
        <result column="device_type" jdbcType="INTEGER" property="deviceType"/>
        <result column="cdr_type" jdbcType="INTEGER" property="cdrType"/>
        <result column="from_agent" jdbcType="VARCHAR" property="fromAgent"/>
        <result column="caller" jdbcType="VARCHAR" property="caller"/>
        <result column="called" jdbcType="VARCHAR" property="called"/>
        <result column="display" jdbcType="VARCHAR" property="display"/>
        <result column="called_location" jdbcType="VARCHAR" property="calledLocation"/>
        <result column="caller_location" jdbcType="VARCHAR" property="callerLocation"/>
        <result column="call_time" jdbcType="BIGINT" property="callTime"/>
        <result column="ring_start_time" jdbcType="BIGINT" property="ringStartTime"/>
        <result column="ring_end_time" jdbcType="BIGINT" property="ringEndTime"/>
        <result column="answer_time" jdbcType="BIGINT" property="answerTime"/>
        <result column="bridge_time" jdbcType="BIGINT" property="bridgeTime"/>
        <result column="end_time" jdbcType="BIGINT" property="endTime"/>
        <result column="talk_time" jdbcType="BIGINT" property="talkTime"/>
        <result column="record_start_time" jdbcType="BIGINT" property="recordStartTime"/>
        <result column="record_time" jdbcType="BIGINT" property="recordTime"/>
        <result column="sip_protocol" jdbcType="VARCHAR" property="sipProtocol"/>
        <result column="record" jdbcType="VARCHAR" property="record"/>
        <result column="record2" jdbcType="VARCHAR" property="record2"/>
        <result column="record3" jdbcType="VARCHAR" property="record3"/>
        <result column="channel_name" jdbcType="VARCHAR" property="channelName"/>
        <result column="hangup_cause" jdbcType="VARCHAR" property="hangupCause"/>
        <result column="ring_cause" jdbcType="VARCHAR" property="ringCause"/>
        <result column="sip_status" jdbcType="VARCHAR" property="sipStatus"/>
        <result column="ext1" jdbcType="VARCHAR" property="ext1"/>
        <result column="ext2" jdbcType="VARCHAR" property="ext2"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , cts, uts, company_id, call_id, device_id, agent_key, agent_name, device_type, cdr_type, from_agent, caller,
    called, display, called_location, caller_location, call_time, ring_start_time, ring_end_time,
    answer_time, bridge_time, end_time, talk_time, record_start_time, record_time, sip_protocol,
    record, record2, record3, channel_name, hangup_cause, ring_cause, sip_status, ext1,
    ext2, status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cc_call_device
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from cc_call_device
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.voice9.core.entity.CallDevice">
        insert into cc_call_device (id, cts, uts, company_id, call_id,
                                    device_id, agent_key, agent_name,
                                    device_type, cdr_type, from_agent, caller,
                                    called, display, called_location,
                                    caller_location, call_time, ring_start_time,
                                    ring_end_time, answer_time, bridge_time,
                                    end_time, talk_time, record_start_time,
                                    record_time, sip_protocol, record,
                                    record2, record3, channel_name,
                                    hangup_cause, ring_cause, sip_status,
                                    ext1, ext2, status)
        values (#{id,jdbcType=BIGINT}, #{cts,jdbcType=BIGINT}, #{uts,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, #{callId,jdbcType=BIGINT},
                #{deviceId,jdbcType=VARCHAR}, #{agentKey,jdbcType=VARCHAR}, #{agentName,jdbcType=VARCHAR},
                #{deviceType,jdbcType=INTEGER}, #{cdrType,jdbcType=INTEGER}, #{fromAgent,jdbcType=VARCHAR}, #{caller,jdbcType=VARCHAR},
                #{called,jdbcType=VARCHAR}, #{display,jdbcType=VARCHAR}, #{calledLocation,jdbcType=VARCHAR},
                #{callerLocation,jdbcType=VARCHAR}, #{callTime,jdbcType=BIGINT}, #{ringStartTime,jdbcType=BIGINT},
                #{ringEndTime,jdbcType=BIGINT}, #{answerTime,jdbcType=BIGINT}, #{bridgeTime,jdbcType=BIGINT},
                #{endTime,jdbcType=BIGINT}, #{talkTime,jdbcType=BIGINT}, #{recordStartTime,jdbcType=BIGINT},
                #{recordTime,jdbcType=BIGINT}, #{sipProtocol,jdbcType=VARCHAR}, #{record,jdbcType=VARCHAR},
                #{record2,jdbcType=VARCHAR}, #{record3,jdbcType=VARCHAR}, #{channelName,jdbcType=VARCHAR},
                #{hangupCause,jdbcType=VARCHAR}, #{ringCause,jdbcType=VARCHAR}, #{sipStatus,jdbcType=VARCHAR},
                #{ext1,jdbcType=VARCHAR}, #{ext2,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.voice9.core.entity.CallDevice">
        insert into cc_call_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cts != null">
                cts,
            </if>
            <if test="uts != null">
                uts,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="callId != null">
                call_id,
            </if>
            <if test="deviceId != null">
                device_id,
            </if>
            <if test="agentKey != null">
                agent_key,
            </if>
            <if test="agentName != null">
                agent_name,
            </if>
            <if test="deviceType != null">
                device_type,
            </if>
            <if test="cdrType != null">
                cdr_type,
            </if>
            <if test="fromAgent != null">
                from_agent,
            </if>
            <if test="caller != null">
                caller,
            </if>
            <if test="called != null">
                called,
            </if>
            <if test="display != null">
                display,
            </if>
            <if test="calledLocation != null">
                called_location,
            </if>
            <if test="callerLocation != null">
                caller_location,
            </if>
            <if test="callTime != null">
                call_time,
            </if>
            <if test="ringStartTime != null">
                ring_start_time,
            </if>
            <if test="ringEndTime != null">
                ring_end_time,
            </if>
            <if test="answerTime != null">
                answer_time,
            </if>
            <if test="bridgeTime != null">
                bridge_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="talkTime != null">
                talk_time,
            </if>
            <if test="recordStartTime != null">
                record_start_time,
            </if>
            <if test="recordTime != null">
                record_time,
            </if>
            <if test="sipProtocol != null">
                sip_protocol,
            </if>
            <if test="record != null">
                record,
            </if>
            <if test="record2 != null">
                record2,
            </if>
            <if test="record3 != null">
                record3,
            </if>
            <if test="channelName != null">
                channel_name,
            </if>
            <if test="hangupCause != null">
                hangup_cause,
            </if>
            <if test="ringCause != null">
                ring_cause,
            </if>
            <if test="sipStatus != null">
                sip_status,
            </if>
            <if test="ext1 != null">
                ext1,
            </if>
            <if test="ext2 != null">
                ext2,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="cts != null">
                #{cts,jdbcType=BIGINT},
            </if>
            <if test="uts != null">
                #{uts,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=BIGINT},
            </if>
            <if test="callId != null">
                #{callId,jdbcType=BIGINT},
            </if>
            <if test="deviceId != null">
                #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="agentKey != null">
                #{agentKey,jdbcType=VARCHAR},
            </if>
            <if test="agentName != null">
                #{agentName,jdbcType=VARCHAR},
            </if>
            <if test="deviceType != null">
                #{deviceType,jdbcType=INTEGER},
            </if>
            <if test="cdrType != null">
                #{cdrType,jdbcType=INTEGER},
            </if>
            <if test="fromAgent != null">
                #{fromAgent,jdbcType=VARCHAR},
            </if>
            <if test="caller != null">
                #{caller,jdbcType=VARCHAR},
            </if>
            <if test="called != null">
                #{called,jdbcType=VARCHAR},
            </if>
            <if test="display != null">
                #{display,jdbcType=VARCHAR},
            </if>
            <if test="calledLocation != null">
                #{calledLocation,jdbcType=VARCHAR},
            </if>
            <if test="callerLocation != null">
                #{callerLocation,jdbcType=VARCHAR},
            </if>
            <if test="callTime != null">
                #{callTime,jdbcType=BIGINT},
            </if>
            <if test="ringStartTime != null">
                #{ringStartTime,jdbcType=BIGINT},
            </if>
            <if test="ringEndTime != null">
                #{ringEndTime,jdbcType=BIGINT},
            </if>
            <if test="answerTime != null">
                #{answerTime,jdbcType=BIGINT},
            </if>
            <if test="bridgeTime != null">
                #{bridgeTime,jdbcType=BIGINT},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=BIGINT},
            </if>
            <if test="talkTime != null">
                #{talkTime,jdbcType=BIGINT},
            </if>
            <if test="recordStartTime != null">
                #{recordStartTime,jdbcType=BIGINT},
            </if>
            <if test="recordTime != null">
                #{recordTime,jdbcType=BIGINT},
            </if>
            <if test="sipProtocol != null">
                #{sipProtocol,jdbcType=VARCHAR},
            </if>
            <if test="record != null">
                #{record,jdbcType=VARCHAR},
            </if>
            <if test="record2 != null">
                #{record2,jdbcType=VARCHAR},
            </if>
            <if test="record3 != null">
                #{record3,jdbcType=VARCHAR},
            </if>
            <if test="channelName != null">
                #{channelName,jdbcType=VARCHAR},
            </if>
            <if test="hangupCause != null">
                #{hangupCause,jdbcType=VARCHAR},
            </if>
            <if test="ringCause != null">
                #{ringCause,jdbcType=VARCHAR},
            </if>
            <if test="sipStatus != null">
                #{sipStatus,jdbcType=VARCHAR},
            </if>
            <if test="ext1 != null">
                #{ext1,jdbcType=VARCHAR},
            </if>
            <if test="ext2 != null">
                #{ext2,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <insert id="insertMonthSelective" parameterType="com.voice9.core.entity.CallDevice">
        insert into cc_call_device${month}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cts != null">
                cts,
            </if>
            <if test="uts != null">
                uts,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="callId != null">
                call_id,
            </if>
            <if test="deviceId != null">
                device_id,
            </if>
            <if test="agentKey != null">
                agent_key,
            </if>
            <if test="agentName != null">
                agent_name,
            </if>
            <if test="deviceType != null">
                device_type,
            </if>
            <if test="cdrType != null">
                cdr_type,
            </if>
            <if test="fromAgent != null">
                from_agent,
            </if>
            <if test="caller != null">
                caller,
            </if>
            <if test="called != null">
                called,
            </if>
            <if test="display != null">
                display,
            </if>
            <if test="calledLocation != null">
                called_location,
            </if>
            <if test="callerLocation != null">
                caller_location,
            </if>
            <if test="callTime != null">
                call_time,
            </if>
            <if test="ringStartTime != null">
                ring_start_time,
            </if>
            <if test="ringEndTime != null">
                ring_end_time,
            </if>
            <if test="answerTime != null">
                answer_time,
            </if>
            <if test="bridgeTime != null">
                bridge_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="talkTime != null">
                talk_time,
            </if>
            <if test="recordStartTime != null">
                record_start_time,
            </if>
            <if test="recordTime != null">
                record_time,
            </if>
            <if test="sipProtocol != null">
                sip_protocol,
            </if>
            <if test="record != null">
                record,
            </if>
            <if test="record2 != null">
                record2,
            </if>
            <if test="record3 != null">
                record3,
            </if>
            <if test="channelName != null">
                channel_name,
            </if>
            <if test="hangupCause != null">
                hangup_cause,
            </if>
            <if test="ringCause != null">
                ring_cause,
            </if>
            <if test="sipStatus != null">
                sip_status,
            </if>
            <if test="ext1 != null">
                ext1,
            </if>
            <if test="ext2 != null">
                ext2,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="cts != null">
                #{cts,jdbcType=BIGINT},
            </if>
            <if test="uts != null">
                #{uts,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=BIGINT},
            </if>
            <if test="callId != null">
                #{callId,jdbcType=BIGINT},
            </if>
            <if test="deviceId != null">
                #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="agentKey != null">
                #{agentKey,jdbcType=VARCHAR},
            </if>
            <if test="agentName != null">
                #{agentName,jdbcType=VARCHAR},
            </if>
            <if test="deviceType != null">
                #{deviceType,jdbcType=INTEGER},
            </if>
            <if test="cdrType != null">
                #{cdrType,jdbcType=INTEGER},
            </if>
            <if test="fromAgent != null">
                #{fromAgent,jdbcType=VARCHAR},
            </if>
            <if test="caller != null">
                #{caller,jdbcType=VARCHAR},
            </if>
            <if test="called != null">
                #{called,jdbcType=VARCHAR},
            </if>
            <if test="display != null">
                #{display,jdbcType=VARCHAR},
            </if>
            <if test="calledLocation != null">
                #{calledLocation,jdbcType=VARCHAR},
            </if>
            <if test="callerLocation != null">
                #{callerLocation,jdbcType=VARCHAR},
            </if>
            <if test="callTime != null">
                #{callTime,jdbcType=BIGINT},
            </if>
            <if test="ringStartTime != null">
                #{ringStartTime,jdbcType=BIGINT},
            </if>
            <if test="ringEndTime != null">
                #{ringEndTime,jdbcType=BIGINT},
            </if>
            <if test="answerTime != null">
                #{answerTime,jdbcType=BIGINT},
            </if>
            <if test="bridgeTime != null">
                #{bridgeTime,jdbcType=BIGINT},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=BIGINT},
            </if>
            <if test="talkTime != null">
                #{talkTime,jdbcType=BIGINT},
            </if>
            <if test="recordStartTime != null">
                #{recordStartTime,jdbcType=BIGINT},
            </if>
            <if test="recordTime != null">
                #{recordTime,jdbcType=BIGINT},
            </if>
            <if test="sipProtocol != null">
                #{sipProtocol,jdbcType=VARCHAR},
            </if>
            <if test="record != null">
                #{record,jdbcType=VARCHAR},
            </if>
            <if test="record2 != null">
                #{record2,jdbcType=VARCHAR},
            </if>
            <if test="record3 != null">
                #{record3,jdbcType=VARCHAR},
            </if>
            <if test="channelName != null">
                #{channelName,jdbcType=VARCHAR},
            </if>
            <if test="hangupCause != null">
                #{hangupCause,jdbcType=VARCHAR},
            </if>
            <if test="ringCause != null">
                #{ringCause,jdbcType=VARCHAR},
            </if>
            <if test="sipStatus != null">
                #{sipStatus,jdbcType=VARCHAR},
            </if>
            <if test="ext1 != null">
                #{ext1,jdbcType=VARCHAR},
            </if>
            <if test="ext2 != null">
                #{ext2,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.voice9.core.entity.CallDevice">
        update cc_call_device
        <set>
            <if test="cts != null">
                cts = #{cts,jdbcType=BIGINT},
            </if>
            <if test="uts != null">
                uts = #{uts,jdbcType=BIGINT},
            </if>
            <if test="callId != null">
                call_id = #{callId,jdbcType=BIGINT},
            </if>
            <if test="deviceId != null">
                device_id = #{deviceId,jdbcType=VARCHAR},
            </if>
            <if test="agentKey != null">
                agent_key = #{agentKey,jdbcType=VARCHAR},
            </if>
            <if test="agentName != null">
                agent_name = #{agentName,jdbcType=VARCHAR},
            </if>
            <if test="deviceType != null">
                device_type = #{deviceType,jdbcType=INTEGER},
            </if>
            <if test="cdrType != null">
                cdr_type = #{cdrType,jdbcType=INTEGER},
            </if>
            <if test="fromAgent != null">
                from_agent = #{fromAgent,jdbcType=VARCHAR},
            </if>
            <if test="caller != null">
                caller = #{caller,jdbcType=VARCHAR},
            </if>
            <if test="called != null">
                called = #{called,jdbcType=VARCHAR},
            </if>
            <if test="display != null">
                display = #{display,jdbcType=VARCHAR},
            </if>
            <if test="calledLocation != null">
                called_location = #{calledLocation,jdbcType=VARCHAR},
            </if>
            <if test="callerLocation != null">
                caller_location = #{callerLocation,jdbcType=VARCHAR},
            </if>
            <if test="callTime != null">
                call_time = #{callTime,jdbcType=BIGINT},
            </if>
            <if test="ringStartTime != null">
                ring_start_time = #{ringStartTime,jdbcType=BIGINT},
            </if>
            <if test="ringEndTime != null">
                ring_end_time = #{ringEndTime,jdbcType=BIGINT},
            </if>
            <if test="answerTime != null">
                answer_time = #{answerTime,jdbcType=BIGINT},
            </if>
            <if test="bridgeTime != null">
                bridge_time = #{bridgeTime,jdbcType=BIGINT},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=BIGINT},
            </if>
            <if test="talkTime != null">
                talk_time = #{talkTime,jdbcType=BIGINT},
            </if>
            <if test="recordStartTime != null">
                record_start_time = #{recordStartTime,jdbcType=BIGINT},
            </if>
            <if test="recordTime != null">
                record_time = #{recordTime,jdbcType=BIGINT},
            </if>
            <if test="sipProtocol != null">
                sip_protocol = #{sipProtocol,jdbcType=VARCHAR},
            </if>
            <if test="record != null">
                record = #{record,jdbcType=VARCHAR},
            </if>
            <if test="record2 != null">
                record2 = #{record2,jdbcType=VARCHAR},
            </if>
            <if test="record3 != null">
                record3 = #{record3,jdbcType=VARCHAR},
            </if>
            <if test="channelName != null">
                channel_name = #{channelName,jdbcType=VARCHAR},
            </if>
            <if test="hangupCause != null">
                hangup_cause = #{hangupCause,jdbcType=VARCHAR},
            </if>
            <if test="ringCause != null">
                ring_cause = #{ringCause,jdbcType=VARCHAR},
            </if>
            <if test="sipStatus != null">
                sip_status = #{sipStatus,jdbcType=VARCHAR},
            </if>
            <if test="ext1 != null">
                ext1 = #{ext1,jdbcType=VARCHAR},
            </if>
            <if test="ext2 != null">
                ext2 = #{ext2,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByCallId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        cc_call_device${monthTime}
        where
        call_id = #{callId,jdbcType=BIGINT} order by call_time asc
    </select>

    <!-- 每个月创建新表 -->
    <update id="createNewTable">
        create table cc_call_device${month} like cc_call_device
    </update>

    <delete id="clearTable">
        delete
        from cc_call_device
        where call_time &lt; #{end}
    </delete>


    <select id="selectListByMap"  parameterType="java.util.Map" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            cc_call_device${monthTime}
        <where>
            <if test="id!=null"> id > #{id,jdbcType=BIGINT}</if>
            <if test="companyId!=null"> and company_id = #{companyId,jdbcType=BIGINT}</if>
            <if test="start!=null"> and call_time >= #{start,jdbcType=BIGINT}</if>
            <if test="end!=null"> and call_time &lt; #{end,jdbcType=BIGINT}</if>
            <if test="recordStartTime!=null"> and record_start_time > 0 </if>
        </where>
         order by call_time asc limit 10000 offset 0
    </select>

    <select id="selectListByMap"  parameterType="java.util.Map" resultMap="BaseResultMap" databaseId="oracle">
        select
        <include refid="Base_Column_List"/>
        from
        cc_call_device${monthTime}
        <where>
            <if test="id!=null"> id >= #{id,jdbcType=BIGINT}</if>
            <if test="companyId!=null"> and company_id = #{companyId,jdbcType=BIGINT}</if>
            <if test="start!=null"> and call_time >= #{start,jdbcType=BIGINT}</if>
            <if test="end!=null"> and call_time &lt; #{end,jdbcType=BIGINT}</if>
            <if test="recordStartTime!=null"> and record_start_time > 0 </if>
            <if test="true"> and rownum &lt;= 10000  </if>
        </where>
          order by call_time asc
    </select>

</mapper>