<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voice9.core.mapper.CallLogMapper">
    <resultMap id="BaseResultMap" type="com.voice9.core.entity.CallLog">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="cts" jdbcType="BIGINT" property="cts"/>
        <result column="uts" jdbcType="BIGINT" property="uts"/>
        <result column="company_id" jdbcType="BIGINT" property="companyId"/>
        <result column="call_id" jdbcType="BIGINT" property="callId"/>
        <result column="caller_display" jdbcType="VARCHAR" property="callerDisplay"/>
        <result column="caller" jdbcType="VARCHAR" property="caller"/>
        <result column="called_display" jdbcType="VARCHAR" property="calledDisplay"/>
        <result column="called" jdbcType="VARCHAR" property="called"/>
        <result column="number_location" jdbcType="VARCHAR" property="numberLocation"/>
        <result column="agent_key" jdbcType="VARCHAR" property="agentKey"/>
        <result column="agent_name" jdbcType="VARCHAR" property="agentName"/>
        <result column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="login_type" jdbcType="INTEGER" property="loginType"/>
        <result column="task_id" jdbcType="BIGINT" property="taskId"/>
        <result column="ivr_id" jdbcType="BIGINT" property="ivrId"/>
        <result column="bot_id" jdbcType="BIGINT" property="botId"/>
        <result column="call_time" jdbcType="BIGINT" property="callTime"/>
        <result column="answer_time" jdbcType="BIGINT" property="answerTime"/>
        <result column="end_time" jdbcType="BIGINT" property="endTime"/>
        <result column="call_type" jdbcType="VARCHAR" property="callType"/>
        <result column="direction" jdbcType="VARCHAR" property="direction"/>
        <result column="answer_flag" jdbcType="INTEGER" property="answerFlag"/>
        <result column="wait_time" jdbcType="BIGINT" property="waitTime"/>
        <result column="answer_count" jdbcType="INTEGER" property="answerCount"/>
        <result column="hangup_dir" jdbcType="INTEGER" property="hangupDir"/>
        <result column="sdk_hangup" jdbcType="INTEGER" property="sdkHangup"/>
        <result column="hangup_code" jdbcType="INTEGER" property="hangupCode"/>
        <result column="media_host" jdbcType="VARCHAR" property="mediaHost"/>
        <result column="cti_host" jdbcType="VARCHAR" property="ctiHost"/>
        <result column="client_host" jdbcType="VARCHAR" property="clientHost"/>
        <result column="record" jdbcType="VARCHAR" property="record"/>
        <result column="record2" jdbcType="VARCHAR" property="record2"/>
        <result column="record3" jdbcType="VARCHAR" property="record3"/>
        <result column="record_type" jdbcType="INTEGER" property="recordType"/>
        <result column="record_start_time" jdbcType="BIGINT" property="recordStartTime"/>
        <result column="record_time" jdbcType="BIGINT" property="recordTime"/>
        <result column="talk_time" jdbcType="BIGINT" property="talkTime"/>
        <result column="frist_queue_time" jdbcType="BIGINT" property="fristQueueTime"/>
        <result column="queue_start_time" jdbcType="BIGINT" property="queueStartTime"/>
        <result column="queue_end_time" jdbcType="BIGINT" property="queueEndTime"/>
        <result column="month_time" jdbcType="VARCHAR" property="monthTime"/>
        <result column="follow_data" jdbcType="VARCHAR" property="followData"/>
        <result column="uuid1" jdbcType="VARCHAR" property="uuid1"/>
        <result column="uuid2" jdbcType="VARCHAR" property="uuid2"/>
        <result column="ext1" jdbcType="VARCHAR" property="ext1"/>
        <result column="ext2" jdbcType="VARCHAR" property="ext2"/>
        <result column="ext3" jdbcType="VARCHAR" property="ext3"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , cts, uts, company_id, call_id, caller_display, caller, called_display, called, number_location,
    agent_key, agent_name, group_id, login_type, task_id, ivr_id, bot_id, call_time,
    answer_time, end_time, call_type, direction, answer_flag, wait_time, answer_count,
    hangup_dir, sdk_hangup, hangup_code, media_host, cti_host, client_host, record, record2,
    record3, record_type, record_start_time, record_time, talk_time, frist_queue_time,
    queue_start_time, queue_end_time, month_time, follow_data, uuid1, uuid2, ext1, ext2,
    ext3, status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cc_call_log
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from cc_call_log
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.voice9.core.entity.CallLog">
        insert into cc_call_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cts != null">
                cts,
            </if>
            <if test="uts != null">
                uts,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="callId != null">
                call_id,
            </if>
            <if test="callerDisplay != null">
                caller_display,
            </if>
            <if test="caller != null">
                caller,
            </if>
            <if test="calledDisplay != null">
                called_display,
            </if>
            <if test="called != null">
                called,
            </if>
            <if test="numberLocation != null">
                number_location,
            </if>
            <if test="agentKey != null">
                agent_key,
            </if>
            <if test="agentName != null">
                agent_name,
            </if>
            <if test="groupId != null">
                group_id,
            </if>
            <if test="loginType != null">
                login_type,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
            <if test="ivrId != null">
                ivr_id,
            </if>
            <if test="botId != null">
                bot_id,
            </if>
            <if test="callTime != null">
                call_time,
            </if>
            <if test="answerTime != null">
                answer_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="callType != null">
                call_type,
            </if>
            <if test="direction != null">
                direction,
            </if>
            <if test="answerFlag != null">
                answer_flag,
            </if>
            <if test="waitTime != null">
                wait_time,
            </if>
            <if test="answerCount != null">
                answer_count,
            </if>
            <if test="hangupDir != null">
                hangup_dir,
            </if>
            <if test="sdkHangup != null">
                sdk_hangup,
            </if>
            <if test="hangupCode != null">
                hangup_code,
            </if>
            <if test="mediaHost != null">
                media_host,
            </if>
            <if test="ctiHost != null">
                cti_host,
            </if>
            <if test="clientHost != null">
                client_host,
            </if>
            <if test="record != null">
                record,
            </if>
            <if test="record2 != null">
                record2,
            </if>
            <if test="record3 != null">
                record3,
            </if>
            <if test="recordType != null">
                record_type,
            </if>
            <if test="recordStartTime != null">
                record_start_time,
            </if>
            <if test="recordTime != null">
                record_time,
            </if>
            <if test="talkTime != null">
                talk_time,
            </if>
            <if test="fristQueueTime != null">
                frist_queue_time,
            </if>
            <if test="queueStartTime != null">
                queue_start_time,
            </if>
            <if test="queueEndTime != null">
                queue_end_time,
            </if>
            <if test="monthTime != null">
                month_time,
            </if>
            <if test="followData != null">
                follow_data,
            </if>
            <if test="uuid1 != null">
                uuid1,
            </if>
            <if test="uuid2 != null">
                uuid2,
            </if>
            <if test="ext1 != null">
                ext1,
            </if>
            <if test="ext2 != null">
                ext2,
            </if>
            <if test="ext3 != null">
                ext3,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="cts != null">
                #{cts,jdbcType=BIGINT},
            </if>
            <if test="uts != null">
                #{uts,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=BIGINT},
            </if>
            <if test="callId != null">
                #{callId,jdbcType=BIGINT},
            </if>
            <if test="callerDisplay != null">
                #{callerDisplay,jdbcType=VARCHAR},
            </if>
            <if test="caller != null">
                #{caller,jdbcType=VARCHAR},
            </if>
            <if test="calledDisplay != null">
                #{calledDisplay,jdbcType=VARCHAR},
            </if>
            <if test="called != null">
                #{called,jdbcType=VARCHAR},
            </if>
            <if test="numberLocation != null">
                #{numberLocation,jdbcType=VARCHAR},
            </if>
            <if test="agentKey != null">
                #{agentKey,jdbcType=VARCHAR},
            </if>
            <if test="agentName != null">
                #{agentName,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                #{groupId,jdbcType=BIGINT},
            </if>
            <if test="loginType != null">
                #{loginType,jdbcType=INTEGER},
            </if>
            <if test="taskId != null">
                #{taskId,jdbcType=BIGINT},
            </if>
            <if test="ivrId != null">
                #{ivrId,jdbcType=BIGINT},
            </if>
            <if test="botId != null">
                #{botId,jdbcType=BIGINT},
            </if>
            <if test="callTime != null">
                #{callTime,jdbcType=BIGINT},
            </if>
            <if test="answerTime != null">
                #{answerTime,jdbcType=BIGINT},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=BIGINT},
            </if>
            <if test="callType != null">
                #{callType,jdbcType=VARCHAR},
            </if>
            <if test="direction != null">
                #{direction,jdbcType=VARCHAR},
            </if>
            <if test="answerFlag != null">
                #{answerFlag,jdbcType=INTEGER},
            </if>
            <if test="waitTime != null">
                #{waitTime,jdbcType=BIGINT},
            </if>
            <if test="answerCount != null">
                #{answerCount,jdbcType=INTEGER},
            </if>
            <if test="hangupDir != null">
                #{hangupDir,jdbcType=INTEGER},
            </if>
            <if test="sdkHangup != null">
                #{sdkHangup,jdbcType=INTEGER},
            </if>
            <if test="hangupCode != null">
                #{hangupCode,jdbcType=INTEGER},
            </if>
            <if test="mediaHost != null">
                #{mediaHost,jdbcType=VARCHAR},
            </if>
            <if test="ctiHost != null">
                #{ctiHost,jdbcType=VARCHAR},
            </if>
            <if test="clientHost != null">
                #{clientHost,jdbcType=VARCHAR},
            </if>
            <if test="record != null">
                #{record,jdbcType=VARCHAR},
            </if>
            <if test="record2 != null">
                #{record2,jdbcType=VARCHAR},
            </if>
            <if test="record3 != null">
                #{record3,jdbcType=VARCHAR},
            </if>
            <if test="recordType != null">
                #{recordType,jdbcType=INTEGER},
            </if>
            <if test="recordStartTime != null">
                #{recordStartTime,jdbcType=BIGINT},
            </if>
            <if test="recordTime != null">
                #{recordTime,jdbcType=BIGINT},
            </if>
            <if test="talkTime != null">
                #{talkTime,jdbcType=BIGINT},
            </if>
            <if test="fristQueueTime != null">
                #{fristQueueTime,jdbcType=BIGINT},
            </if>
            <if test="queueStartTime != null">
                #{queueStartTime,jdbcType=BIGINT},
            </if>
            <if test="queueEndTime != null">
                #{queueEndTime,jdbcType=BIGINT},
            </if>
            <if test="monthTime != null">
                #{monthTime,jdbcType=VARCHAR},
            </if>
            <if test="followData != null">
                #{followData,jdbcType=VARCHAR},
            </if>
            <if test="uuid1 != null">
                #{uuid1,jdbcType=VARCHAR},
            </if>
            <if test="uuid2 != null">
                #{uuid2,jdbcType=VARCHAR},
            </if>
            <if test="ext1 != null">
                #{ext1,jdbcType=VARCHAR},
            </if>
            <if test="ext2 != null">
                #{ext2,jdbcType=VARCHAR},
            </if>
            <if test="ext3 != null">
                #{ext3,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <insert id="insertMonthSelective" parameterType="com.voice9.core.entity.CallLog">
        insert into cc_call_log${monthTime}
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cts != null">
                cts,
            </if>
            <if test="uts != null">
                uts,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="callId != null">
                call_id,
            </if>
            <if test="callerDisplay != null">
                caller_display,
            </if>
            <if test="caller != null">
                caller,
            </if>
            <if test="calledDisplay != null">
                called_display,
            </if>
            <if test="called != null">
                called,
            </if>
            <if test="numberLocation != null">
                number_location,
            </if>
            <if test="agentKey != null">
                agent_key,
            </if>
            <if test="agentName != null">
                agent_name,
            </if>
            <if test="groupId != null">
                group_id,
            </if>
            <if test="loginType != null">
                login_type,
            </if>
            <if test="taskId != null">
                task_id,
            </if>
            <if test="ivrId != null">
                ivr_id,
            </if>
            <if test="botId != null">
                bot_id,
            </if>
            <if test="callTime != null">
                call_time,
            </if>
            <if test="answerTime != null">
                answer_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="callType != null">
                call_type,
            </if>
            <if test="direction != null">
                direction,
            </if>
            <if test="answerFlag != null">
                answer_flag,
            </if>
            <if test="waitTime != null">
                wait_time,
            </if>
            <if test="answerCount != null">
                answer_count,
            </if>
            <if test="hangupDir != null">
                hangup_dir,
            </if>
            <if test="sdkHangup != null">
                sdk_hangup,
            </if>
            <if test="hangupCode != null">
                hangup_code,
            </if>
            <if test="mediaHost != null">
                media_host,
            </if>
            <if test="ctiHost != null">
                cti_host,
            </if>
            <if test="clientHost != null">
                client_host,
            </if>
            <if test="record != null">
                record,
            </if>
            <if test="record2 != null">
                record2,
            </if>
            <if test="record3 != null">
                record3,
            </if>
            <if test="recordType != null">
                record_type,
            </if>
            <if test="recordStartTime != null">
                record_start_time,
            </if>
            <if test="recordTime != null">
                record_time,
            </if>
            <if test="talkTime != null">
                talk_time,
            </if>
            <if test="fristQueueTime != null">
                frist_queue_time,
            </if>
            <if test="queueStartTime != null">
                queue_start_time,
            </if>
            <if test="queueEndTime != null">
                queue_end_time,
            </if>
            <if test="monthTime != null">
                month_time,
            </if>
            <if test="followData != null">
                follow_data,
            </if>
            <if test="uuid1 != null">
                uuid1,
            </if>
            <if test="uuid2 != null">
                uuid2,
            </if>
            <if test="ext1 != null">
                ext1,
            </if>
            <if test="ext2 != null">
                ext2,
            </if>
            <if test="ext3 != null">
                ext3,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="cts != null">
                #{cts,jdbcType=BIGINT},
            </if>
            <if test="uts != null">
                #{uts,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=BIGINT},
            </if>
            <if test="callId != null">
                #{callId,jdbcType=BIGINT},
            </if>
            <if test="callerDisplay != null">
                #{callerDisplay,jdbcType=VARCHAR},
            </if>
            <if test="caller != null">
                #{caller,jdbcType=VARCHAR},
            </if>
            <if test="calledDisplay != null">
                #{calledDisplay,jdbcType=VARCHAR},
            </if>
            <if test="called != null">
                #{called,jdbcType=VARCHAR},
            </if>
            <if test="numberLocation != null">
                #{numberLocation,jdbcType=VARCHAR},
            </if>
            <if test="agentKey != null">
                #{agentKey,jdbcType=VARCHAR},
            </if>
            <if test="agentName != null">
                #{agentName,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                #{groupId,jdbcType=BIGINT},
            </if>
            <if test="loginType != null">
                #{loginType,jdbcType=INTEGER},
            </if>
            <if test="taskId != null">
                #{taskId,jdbcType=BIGINT},
            </if>
            <if test="ivrId != null">
                #{ivrId,jdbcType=BIGINT},
            </if>
            <if test="botId != null">
                #{botId,jdbcType=BIGINT},
            </if>
            <if test="callTime != null">
                #{callTime,jdbcType=BIGINT},
            </if>
            <if test="answerTime != null">
                #{answerTime,jdbcType=BIGINT},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=BIGINT},
            </if>
            <if test="callType != null">
                #{callType,jdbcType=VARCHAR},
            </if>
            <if test="direction != null">
                #{direction,jdbcType=VARCHAR},
            </if>
            <if test="answerFlag != null">
                #{answerFlag,jdbcType=INTEGER},
            </if>
            <if test="waitTime != null">
                #{waitTime,jdbcType=BIGINT},
            </if>
            <if test="answerCount != null">
                #{answerCount,jdbcType=INTEGER},
            </if>
            <if test="hangupDir != null">
                #{hangupDir,jdbcType=INTEGER},
            </if>
            <if test="sdkHangup != null">
                #{sdkHangup,jdbcType=INTEGER},
            </if>
            <if test="hangupCode != null">
                #{hangupCode,jdbcType=INTEGER},
            </if>
            <if test="mediaHost != null">
                #{mediaHost,jdbcType=VARCHAR},
            </if>
            <if test="ctiHost != null">
                #{ctiHost,jdbcType=VARCHAR},
            </if>
            <if test="clientHost != null">
                #{clientHost,jdbcType=VARCHAR},
            </if>
            <if test="record != null">
                #{record,jdbcType=VARCHAR},
            </if>
            <if test="record2 != null">
                #{record2,jdbcType=VARCHAR},
            </if>
            <if test="record3 != null">
                #{record3,jdbcType=VARCHAR},
            </if>
            <if test="recordType != null">
                #{recordType,jdbcType=INTEGER},
            </if>
            <if test="recordStartTime != null">
                #{recordStartTime,jdbcType=BIGINT},
            </if>
            <if test="recordTime != null">
                #{recordTime,jdbcType=BIGINT},
            </if>
            <if test="talkTime != null">
                #{talkTime,jdbcType=BIGINT},
            </if>
            <if test="fristQueueTime != null">
                #{fristQueueTime,jdbcType=BIGINT},
            </if>
            <if test="queueStartTime != null">
                #{queueStartTime,jdbcType=BIGINT},
            </if>
            <if test="queueEndTime != null">
                #{queueEndTime,jdbcType=BIGINT},
            </if>
            <if test="monthTime != null">
                #{monthTime,jdbcType=VARCHAR},
            </if>
            <if test="followData != null">
                #{followData,jdbcType=VARCHAR},
            </if>
            <if test="uuid1 != null">
                #{uuid1,jdbcType=VARCHAR},
            </if>
            <if test="uuid2 != null">
                #{uuid2,jdbcType=VARCHAR},
            </if>
            <if test="ext1 != null">
                #{ext1,jdbcType=VARCHAR},
            </if>
            <if test="ext2 != null">
                #{ext2,jdbcType=VARCHAR},
            </if>
            <if test="ext3 != null">
                #{ext3,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.voice9.core.entity.CallLog">
        update cc_call_log
        <set>
            <if test="cts != null">
                cts = #{cts,jdbcType=BIGINT},
            </if>
            <if test="uts != null">
                uts = #{uts,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="callId != null">
                call_id = #{callId,jdbcType=BIGINT},
            </if>
            <if test="callerDisplay != null">
                caller_display = #{callerDisplay,jdbcType=VARCHAR},
            </if>
            <if test="caller != null">
                caller = #{caller,jdbcType=VARCHAR},
            </if>
            <if test="calledDisplay != null">
                called_display = #{calledDisplay,jdbcType=VARCHAR},
            </if>
            <if test="called != null">
                called = #{called,jdbcType=VARCHAR},
            </if>
            <if test="numberLocation != null">
                number_location = #{numberLocation,jdbcType=VARCHAR},
            </if>
            <if test="agentKey != null">
                agent_key = #{agentKey,jdbcType=VARCHAR},
            </if>
            <if test="agentName != null">
                agent_name = #{agentName,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=BIGINT},
            </if>
            <if test="loginType != null">
                login_type = #{loginType,jdbcType=INTEGER},
            </if>
            <if test="taskId != null">
                task_id = #{taskId,jdbcType=BIGINT},
            </if>
            <if test="ivrId != null">
                ivr_id = #{ivrId,jdbcType=BIGINT},
            </if>
            <if test="botId != null">
                bot_id = #{botId,jdbcType=BIGINT},
            </if>
            <if test="callTime != null">
                call_time = #{callTime,jdbcType=BIGINT},
            </if>
            <if test="answerTime != null">
                answer_time = #{answerTime,jdbcType=BIGINT},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=BIGINT},
            </if>
            <if test="callType != null">
                call_type = #{callType,jdbcType=VARCHAR},
            </if>
            <if test="direction != null">
                direction = #{direction,jdbcType=VARCHAR},
            </if>
            <if test="answerFlag != null">
                answer_flag = #{answerFlag,jdbcType=INTEGER},
            </if>
            <if test="waitTime != null">
                wait_time = #{waitTime,jdbcType=BIGINT},
            </if>
            <if test="answerCount != null">
                answer_count = #{answerCount,jdbcType=INTEGER},
            </if>
            <if test="hangupDir != null">
                hangup_dir = #{hangupDir,jdbcType=INTEGER},
            </if>
            <if test="sdkHangup != null">
                sdk_hangup = #{sdkHangup,jdbcType=INTEGER},
            </if>
            <if test="hangupCode != null">
                hangup_code = #{hangupCode,jdbcType=INTEGER},
            </if>
            <if test="mediaHost != null">
                media_host = #{mediaHost,jdbcType=VARCHAR},
            </if>
            <if test="ctiHost != null">
                cti_host = #{ctiHost,jdbcType=VARCHAR},
            </if>
            <if test="clientHost != null">
                client_host = #{clientHost,jdbcType=VARCHAR},
            </if>
            <if test="record != null">
                record = #{record,jdbcType=VARCHAR},
            </if>
            <if test="record2 != null">
                record2 = #{record2,jdbcType=VARCHAR},
            </if>
            <if test="record3 != null">
                record3 = #{record3,jdbcType=VARCHAR},
            </if>
            <if test="recordType != null">
                record_type = #{recordType,jdbcType=INTEGER},
            </if>
            <if test="recordStartTime != null">
                record_start_time = #{recordStartTime,jdbcType=BIGINT},
            </if>
            <if test="recordTime != null">
                record_time = #{recordTime,jdbcType=BIGINT},
            </if>
            <if test="talkTime != null">
                talk_time = #{talkTime,jdbcType=BIGINT},
            </if>
            <if test="fristQueueTime != null">
                frist_queue_time = #{fristQueueTime,jdbcType=BIGINT},
            </if>
            <if test="queueStartTime != null">
                queue_start_time = #{queueStartTime,jdbcType=BIGINT},
            </if>
            <if test="queueEndTime != null">
                queue_end_time = #{queueEndTime,jdbcType=BIGINT},
            </if>
            <if test="monthTime != null">
                month_time = #{monthTime,jdbcType=VARCHAR},
            </if>
            <if test="followData != null">
                follow_data = #{followData,jdbcType=VARCHAR},
            </if>
            <if test="uuid1 != null">
                uuid1 = #{uuid1,jdbcType=VARCHAR},
            </if>
            <if test="uuid2 != null">
                uuid2 = #{uuid2,jdbcType=VARCHAR},
            </if>
            <if test="ext1 != null">
                ext1 = #{ext1,jdbcType=VARCHAR},
            </if>
            <if test="ext2 != null">
                ext2 = #{ext2,jdbcType=VARCHAR},
            </if>
            <if test="ext3 != null">
                ext3 = #{ext3,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.voice9.core.entity.CallLog">
        update cc_call_log
        set cts               = #{cts,jdbcType=BIGINT},
            uts               = #{uts,jdbcType=BIGINT},
            company_id        = #{companyId,jdbcType=BIGINT},
            call_id           = #{callId,jdbcType=BIGINT},
            caller_display    = #{callerDisplay,jdbcType=VARCHAR},
            caller            = #{caller,jdbcType=VARCHAR},
            called_display    = #{calledDisplay,jdbcType=VARCHAR},
            called            = #{called,jdbcType=VARCHAR},
            number_location   = #{numberLocation,jdbcType=VARCHAR},
            agent_key         = #{agentKey,jdbcType=VARCHAR},
            agent_name        = #{agentName,jdbcType=VARCHAR},
            group_id          = #{groupId,jdbcType=BIGINT},
            login_type        = #{loginType,jdbcType=INTEGER},
            task_id           = #{taskId,jdbcType=BIGINT},
            ivr_id            = #{ivrId,jdbcType=BIGINT},
            bot_id            = #{botId,jdbcType=BIGINT},
            call_time         = #{callTime,jdbcType=BIGINT},
            answer_time       = #{answerTime,jdbcType=BIGINT},
            end_time          = #{endTime,jdbcType=BIGINT},
            call_type         = #{callType,jdbcType=VARCHAR},
            direction         = #{direction,jdbcType=VARCHAR},
            answer_flag       = #{answerFlag,jdbcType=INTEGER},
            wait_time         = #{waitTime,jdbcType=BIGINT},
            answer_count      = #{answerCount,jdbcType=INTEGER},
            hangup_dir        = #{hangupDir,jdbcType=INTEGER},
            sdk_hangup        = #{sdkHangup,jdbcType=INTEGER},
            hangup_code       = #{hangupCode,jdbcType=INTEGER},
            media_host        = #{mediaHost,jdbcType=VARCHAR},
            cti_host          = #{ctiHost,jdbcType=VARCHAR},
            client_host       = #{clientHost,jdbcType=VARCHAR},
            record            = #{record,jdbcType=VARCHAR},
            record2           = #{record2,jdbcType=VARCHAR},
            record3           = #{record3,jdbcType=VARCHAR},
            record_type       = #{recordType,jdbcType=INTEGER},
            record_start_time = #{recordStartTime,jdbcType=BIGINT},
            record_time       = #{recordTime,jdbcType=BIGINT},
            talk_time         = #{talkTime,jdbcType=BIGINT},
            frist_queue_time  = #{fristQueueTime,jdbcType=BIGINT},
            queue_start_time  = #{queueStartTime,jdbcType=BIGINT},
            queue_end_time    = #{queueEndTime,jdbcType=BIGINT},
            month_time        = #{monthTime,jdbcType=VARCHAR},
            follow_data       = #{followData,jdbcType=VARCHAR},
            uuid1             = #{uuid1,jdbcType=VARCHAR},
            uuid2             = #{uuid2,jdbcType=VARCHAR},
            ext1              = #{ext1,jdbcType=VARCHAR},
            ext2              = #{ext2,jdbcType=VARCHAR},
            ext3              = #{ext3,jdbcType=VARCHAR},
            status            = #{status,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <resultMap id="BaseResultMapPo" type="com.voice9.core.po.CallLogPo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="company_id" jdbcType="BIGINT" property="companyId"/>
        <result column="call_id" jdbcType="BIGINT" property="callId"/>
        <result column="caller_display" jdbcType="VARCHAR" property="callerDisplay"/>
        <result column="caller" jdbcType="VARCHAR" property="caller"/>
        <result column="called_display" jdbcType="VARCHAR" property="calledDisplay"/>
        <result column="called" jdbcType="VARCHAR" property="called"/>
        <result column="number_location" jdbcType="VARCHAR" property="numberLocation"/>
        <result column="agent_key" jdbcType="VARCHAR" property="agentKey"/>
        <result column="agent_name" jdbcType="VARCHAR" property="agentName"/>
        <result column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="login_type" jdbcType="INTEGER" property="loginType"/>
        <result column="task_id" jdbcType="BIGINT" property="taskId"/>
        <result column="ivr_id" jdbcType="BIGINT" property="ivrId"/>
        <result column="bot_id" jdbcType="BIGINT" property="botId"/>
        <result column="call_time" jdbcType="BIGINT" property="callTime"/>
        <result column="answer_time" jdbcType="BIGINT" property="answerTime"/>
        <result column="end_time" jdbcType="BIGINT" property="endTime"/>
        <result column="call_type" jdbcType="VARCHAR" property="callType"/>
        <result column="direction" jdbcType="VARCHAR" property="direction"/>
        <result column="answer_flag" jdbcType="INTEGER" property="answerFlag"/>
        <result column="wait_time" jdbcType="BIGINT" property="waitTime"/>
        <result column="answer_count" jdbcType="INTEGER" property="answerCount"/>
        <result column="hangup_dir" jdbcType="INTEGER" property="hangupDir"/>
        <result column="sdk_hangup" jdbcType="INTEGER" property="sdkHangup"/>
        <result column="hangup_code" jdbcType="VARCHAR" property="hangupCode"/>
        <result column="media_host" jdbcType="VARCHAR" property="mediaHost"/>
        <result column="cti_host" jdbcType="VARCHAR" property="ctiHost"/>
        <result column="client_host" jdbcType="VARCHAR" property="clientHost"/>
        <result column="record" jdbcType="VARCHAR" property="record"/>
        <result column="record2" jdbcType="VARCHAR" property="record2"/>
        <result column="record3" jdbcType="VARCHAR" property="record3"/>
        <result column="record_type" jdbcType="INTEGER" property="recordType"/>
        <result column="record_time" jdbcType="BIGINT" property="recordTime"/>
        <result column="talk_time" jdbcType="BIGINT" property="talkTime"/>
        <result column="frist_queue_time" jdbcType="BIGINT" property="fristQueueTime"/>
        <result column="queue_start_time" jdbcType="BIGINT" property="queueStartTime"/>
        <result column="queue_end_time" jdbcType="BIGINT" property="queueEndTime"/>
        <result column="month_time" jdbcType="VARCHAR" property="monthTime"/>
        <result column="follow_data" jdbcType="VARCHAR" property="followData"/>
        <result column="uuid1" jdbcType="VARCHAR" property="uuid1"/>
        <result column="uuid2" jdbcType="VARCHAR" property="uuid2"/>
        <result column="ext1" jdbcType="VARCHAR" property="ext1"/>
        <result column="ext2" jdbcType="VARCHAR" property="ext2"/>
        <result column="ext3" jdbcType="VARCHAR" property="ext3"/>
        <collection property="callDeviceList" column="{callId=call_id,monthTime=month_time}"
                    select="com.voice9.core.mapper.CallDeviceMapper.selectByCallId"></collection>
        <collection property="callDetailList" column="{callId=call_id,monthTime=month_time}"
                    select="com.voice9.core.mapper.CallDetailMapper.selectByCallId"></collection>
    </resultMap>

    <sql id="Base_Where">
        <where>
            <if test="agentKey != null">agent_key = #{agentKey,jdbcType=VARCHAR}</if>
            <if test="companyId!=null">and company_id = #{companyId,jdbcType=BIGINT}</if>
            <if test="callId!=null">and call_id = #{callId,jdbcType=BIGINT}</if>
            <if test="groupId != null">and group_id = #{groupId,jdbcType=BIGINT}</if>
            <if test="loginType != null">and login_type = #{loginType,jdbcType=INTEGER}</if>
            <if test="taskId != null">and task_id = #{taskId,jdbcType=BIGINT}</if>
            <if test="ivrId != null">and ivr_id = #{ivrId,jdbcType=BIGINT}</if>
            <if test="start!=null">and call_time >= #{start,jdbcType=BIGINT}</if>
            <if test="end!=null">and call_time &lt; #{end,jdbcType=BIGINT}</if>
            <if test="callType != null">and call_type = #{callType,jdbcType=VARCHAR}</if>
            <if test="direction != null">and direction = #{direction,jdbcType=VARCHAR}</if>
            <if test="answerFlag != null">and answer_flag = #{answerFlag,jdbcType=INTEGER}</if>
            <if test="hangupDir != null">hangup_dir = #{hangupDir,jdbcType=INTEGER}</if>
            <if test="hangupCode != null">and hangup_code = #{hangupCode,jdbcType=INTEGER}</if>
            <if test="mediaHost != null">and media_host = #{mediaHost,jdbcType=VARCHAR}</if>
            <if test="ctiHost != null">and cti_host = #{ctiHost,jdbcType=VARCHAR}</if>
            <if test="clientHost != null">and client_host = #{clientHost,jdbcType=VARCHAR}</if>
            <if test="recordTime != null">and record_time > #{recordTime,jdbcType=BIGINT}</if>
            <if test="talkTime != null">and talk_time > #{talkTime,jdbcType=BIGINT}</if>
            <if test="uuid1 != null">and uuid1 = #{uuid1,jdbcType=VARCHAR}</if>
        </where>
    </sql>

    <update id="updateByCallId" parameterType="com.voice9.core.entity.CallLog">
        update cc_call_log
        <set>
            <if test="uts != null">
                uts = #{uts,jdbcType=BIGINT},
            </if>
            <if test="agentKey != null">
                agent_key = #{agentKey,jdbcType=VARCHAR},
            </if>
            <if test="agentName != null">
                agent_name = #{agentName,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=BIGINT},
            </if>
            <if test="loginType != null">
                login_type = #{loginType,jdbcType=INTEGER},
            </if>
            <if test="taskId != null">
                task_id = #{taskId,jdbcType=BIGINT},
            </if>
            <if test="ivrId != null">
                ivr_id = #{ivrId,jdbcType=BIGINT},
            </if>
            <if test="answerTime != null">
                answer_time = #{answerTime,jdbcType=BIGINT},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=BIGINT},
            </if>
            <if test="callType != null">
                call_type = #{callType,jdbcType=VARCHAR},
            </if>
            <if test="direction != null">
                direction = #{direction,jdbcType=VARCHAR},
            </if>
            <if test="answerFlag != null">
                answer_flag = #{answerFlag,jdbcType=INTEGER},
            </if>
            <if test="waitTime != null">
                wait_time = #{waitTime,jdbcType=BIGINT},
            </if>
            <if test="answerCount != null">
                answer_count = #{answerCount,jdbcType=INTEGER},
            </if>
            <if test="hangupDir != null">
                hangup_dir = #{hangupDir,jdbcType=INTEGER},
            </if>
            <if test="sdkHangup != null">
                sdk_hangup = #{sdkHangup,jdbcType=INTEGER},
            </if>
            <if test="hangupCode != null">
                hangup_code = #{hangupCode,jdbcType=INTEGER},
            </if>
            <if test="mediaHost != null">
                media_host = #{mediaHost,jdbcType=VARCHAR},
            </if>
            <if test="ctiHost != null">
                cti_host = #{ctiHost,jdbcType=VARCHAR},
            </if>
            <if test="clientHost != null">
                client_host = #{clientHost,jdbcType=VARCHAR},
            </if>
            <if test="record != null">
                record = #{record,jdbcType=VARCHAR},
            </if>
            <if test="record2 != null">
                record2 = #{record2,jdbcType=VARCHAR},
            </if>
            <if test="record3 != null">
                record3 = #{record3,jdbcType=VARCHAR},
            </if>
            <if test="recordType != null">
                record_type = #{recordType,jdbcType=INTEGER},
            </if>
            <if test="recordTime != null">
                record_time = #{recordTime,jdbcType=BIGINT},
            </if>
            <if test="talkTime != null">
                talk_time = #{talkTime,jdbcType=BIGINT},
            </if>
            <if test="followData != null">
                follow_data = #{followData,jdbcType=VARCHAR},
            </if>
            <if test="uuid1 != null">
                uuid1 = #{uuid1,jdbcType=VARCHAR},
            </if>
            <if test="uuid2 != null">
                uuid2 = #{uuid2,jdbcType=VARCHAR},
            </if>
            <if test="ext1 != null">
                ext1 = #{ext1,jdbcType=VARCHAR},
            </if>
            <if test="ext2 != null">
                ext2 = #{ext2,jdbcType=VARCHAR},
            </if>
            <if test="ext3 != null">
                ext3 = #{ext3,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where call_id = #{callId,jdbcType=BIGINT}
    </update>

    <select id="getCall" resultMap="BaseResultMapPo">
        select
        <include refid="Base_Column_List"/>
        from
        cc_call_log${month}
        <where>
            <if test="companyId!=null">company_id = #{companyId,jdbcType=BIGINT}</if>
            <if test="callId!=null">and call_id = #{callId,jdbcType=BIGINT}</if>
        </where>

    </select>

    <select id="getCallByUuid1" resultMap="BaseResultMapPo">
        select
        <include refid="Base_Column_List"/>
        from
        cc_call_log
        <where>
            <if test="companyId!=null">company_id = #{companyId,jdbcType=BIGINT}</if>
            <if test="start!=null">and call_time >= #{start,jdbcType=BIGINT}</if>
            <if test="end!=null">and call_time &lt; #{end,jdbcType=BIGINT}</if>
            <if test="uuid1!=null">and uuid1 = #{uuid1}</if>
            <if test="uuid2!=null">and uuid2 = #{uuid2}</if>
        </where>
    </select>

    <select id="getCallList" parameterType="java.util.Map" resultMap="BaseResultMapPo">
        select
        <include refid="Base_Column_List"/>
        from
        cc_call_log
        <include refid="Base_Where"/>
        order by call_time desc
    </select>

    <select id="selectCountByMap" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(0) from cc_call_log
        <include refid="Base_Where"/>
    </select>

    <!-- 单表查询 -->
    <select id="selectListByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cc_call_log
        <include refid="Base_Where"/>
        order by call_time desc
    </select>

    <!-- 每个月创建新表 -->
    <update id="createNewTable">
        create table cc_call_log${month} like cc_call_log
    </update>

    <delete id="clearTable">
        delete
        from cc_call_log
        where call_time &lt; #{end}
    </delete>
</mapper>