<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voice9.core.mapper.GroupAgentStrategyMapper">
    <resultMap id="BaseResultMap" type="com.voice9.core.entity.GroupAgentStrategy">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="cts" jdbcType="BIGINT" property="cts"/>
        <result column="uts" jdbcType="BIGINT" property="uts"/>
        <result column="company_id" jdbcType="BIGINT" property="companyId"/>
        <result column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="strategy_type" jdbcType="INTEGER" property="strategyType"/>
        <result column="strategy_value" jdbcType="INTEGER" property="strategyValue"/>
        <result column="custom_expression" jdbcType="VARCHAR" property="customExpression"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <resultMap id="BaseResultMapPo" type="com.voice9.core.po.GroupAgentStrategyPo" extends="BaseResultMap">
        <collection property="strategyExpList" select="com.voice9.core.mapper.GroupStrategyExpMapper.selectList"
                    column="group_id"></collection>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , cts, uts, company_id, group_id, strategy_type, strategy_value, custom_expression,
    status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cc_group_agent_strategy
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from cc_group_agent_strategy
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.voice9.core.entity.GroupAgentStrategy">
        insert into cc_group_agent_strategy (id, cts, uts, company_id,
                                             group_id, strategy_type, strategy_value,
                                             custom_expression, status)
        values (#{id,jdbcType=BIGINT}, #{cts,jdbcType=BIGINT}, #{uts,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT},
                #{groupId,jdbcType=BIGINT}, #{strategyType,jdbcType=INTEGER}, #{strategyValue,jdbcType=INTEGER},
                #{customExpression,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.voice9.core.entity.GroupAgentStrategy">
        insert into cc_group_agent_strategy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cts != null">
                cts,
            </if>
            <if test="uts != null">
                uts,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="groupId != null">
                group_id,
            </if>
            <if test="strategyType != null">
                strategy_type,
            </if>
            <if test="strategyValue != null">
                strategy_value,
            </if>
            <if test="customExpression != null">
                custom_expression,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="cts != null">
                #{cts,jdbcType=BIGINT},
            </if>
            <if test="uts != null">
                #{uts,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=BIGINT},
            </if>
            <if test="groupId != null">
                #{groupId,jdbcType=BIGINT},
            </if>
            <if test="strategyType != null">
                #{strategyType,jdbcType=INTEGER},
            </if>
            <if test="strategyValue != null">
                #{strategyValue,jdbcType=INTEGER},
            </if>
            <if test="customExpression != null">
                #{customExpression,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.voice9.core.entity.GroupAgentStrategy">
        update cc_group_agent_strategy
        <set>
            <if test="cts != null">
                cts = #{cts,jdbcType=BIGINT},
            </if>
            <if test="uts != null">
                uts = #{uts,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=BIGINT},
            </if>
            <if test="strategyType != null">
                strategy_type = #{strategyType,jdbcType=INTEGER},
            </if>
            <if test="strategyValue != null">
                strategy_value = #{strategyValue,jdbcType=INTEGER},
            </if>
            <if test="customExpression != null">
                custom_expression = #{customExpression,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.voice9.core.entity.GroupAgentStrategy">
        update cc_group_agent_strategy
        set cts               = #{cts,jdbcType=BIGINT},
            uts               = #{uts,jdbcType=BIGINT},
            company_id        = #{companyId,jdbcType=BIGINT},
            group_id          = #{groupId,jdbcType=BIGINT},
            strategy_type     = #{strategyType,jdbcType=INTEGER},
            strategy_value    = #{strategyValue,jdbcType=INTEGER},
            custom_expression = #{customExpression,jdbcType=VARCHAR},
            status            = #{status,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByGroupId" parameterType="Long" resultMap="BaseResultMapPo">
        select
        <include refid="Base_Column_List"/>
        from cc_group_agent_strategy where group_id = #{groupId}
    </select>
</mapper>