<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cti.cc.mapper.PushFailLogMapper">
  <resultMap id="BaseResultMap" type="org.cti.cc.entity.PushFailLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cts" jdbcType="BIGINT" property="cts" />
    <result column="uts" jdbcType="BIGINT" property="uts" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="call_id" jdbcType="BIGINT" property="callId" />
    <result column="send_times" jdbcType="INTEGER" property="sendTimes" />
    <result column="send_url" jdbcType="VARCHAR" property="sendUrl" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, cts, uts, company_id, call_id, send_times, send_url, content, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cc_push_fail_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cc_push_fail_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.cti.cc.entity.PushFailLog">
    insert into cc_push_fail_log (id, cts, uts, company_id, 
      call_id, send_times, send_url, 
      content, status)
    values (#{id,jdbcType=BIGINT}, #{cts,jdbcType=BIGINT}, #{uts,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, 
      #{callId,jdbcType=BIGINT}, #{sendTimes,jdbcType=INTEGER}, #{sendUrl,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.cti.cc.entity.PushFailLog">
    insert into cc_push_fail_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cts != null">
        cts,
      </if>
      <if test="uts != null">
        uts,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="callId != null">
        call_id,
      </if>
      <if test="sendTimes != null">
        send_times,
      </if>
      <if test="sendUrl != null">
        send_url,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cts != null">
        #{cts,jdbcType=BIGINT},
      </if>
      <if test="uts != null">
        #{uts,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="callId != null">
        #{callId,jdbcType=BIGINT},
      </if>
      <if test="sendTimes != null">
        #{sendTimes,jdbcType=INTEGER},
      </if>
      <if test="sendUrl != null">
        #{sendUrl,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.cti.cc.entity.PushFailLog">
    update cc_push_fail_log
    <set>
      <if test="cts != null">
        cts = #{cts,jdbcType=BIGINT},
      </if>
      <if test="uts != null">
        uts = #{uts,jdbcType=BIGINT},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="callId != null">
        call_id = #{callId,jdbcType=BIGINT},
      </if>
      <if test="sendTimes != null">
        send_times = #{sendTimes,jdbcType=INTEGER},
      </if>
      <if test="sendUrl != null">
        send_url = #{sendUrl,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.cti.cc.entity.PushFailLog">
    update cc_push_fail_log
    set cts = #{cts,jdbcType=BIGINT},
      uts = #{uts,jdbcType=BIGINT},
      company_id = #{companyId,jdbcType=BIGINT},
      call_id = #{callId,jdbcType=BIGINT},
      send_times = #{sendTimes,jdbcType=INTEGER},
      send_url = #{sendUrl,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>