<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cti.cc.mapper.SkillGroupMapper">
  <resultMap id="BaseResultMap" type="org.cti.cc.entity.SkillGroup">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="cts" jdbcType="BIGINT" property="cts" />
    <result column="uts" jdbcType="BIGINT" property="uts" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="skill_id" jdbcType="BIGINT" property="skillId" />
    <result column="group_id" jdbcType="BIGINT" property="groupId" />
    <result column="rank_about" jdbcType="INTEGER" property="rankAbout" />
    <result column="rank_value_start" jdbcType="INTEGER" property="rankValueStart" />
    <result column="rank_value" jdbcType="INTEGER" property="rankValue" />
    <result column="rate" jdbcType="INTEGER" property="rate" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <sql id="Base_Column_List">
    id, cts, uts, company_id, skill_id, group_id, rank_about, rank_value_start, rank_value,  rate, status
  </sql>


  <insert id="insert" parameterType="org.cti.cc.entity.SkillGroup">
    insert into cc_skill_group (id, uts, cts, company_id, 
      skill_id, group_id, rank_about, 
      rank_value_start, rank_value, rate, 
      status)
    values (#{id,jdbcType=BIGINT}, #{uts,jdbcType=BIGINT}, #{cts,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, 
      #{skillId,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{rankAbout,jdbcType=INTEGER}, 
      #{rankValueStart,jdbcType=INTEGER}, #{rankValue,jdbcType=INTEGER}, #{rate,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>



  <insert id="batchInsert" parameterType="List"  useGeneratedKeys="true" keyProperty="id" databaseId="mysql">
    insert into cc_skill_group (cts, company_id, skill_id, group_id, rank_about,  rank_value_start, rank_value, rate,  status) values
    <foreach collection ="list" item="item" separator =",">
      (#{item.cts,jdbcType=BIGINT}, #{item.companyId,jdbcType=BIGINT}, #{item.skillId,jdbcType=BIGINT}, #{item.groupId,jdbcType=BIGINT}, #{item.rankAbout,jdbcType=INTEGER},
      #{item.rankValueStart,jdbcType=INTEGER}, #{item.rankValue,jdbcType=INTEGER}, #{item.rate,jdbcType=INTEGER},#{item.status,jdbcType=INTEGER})
    </foreach>
  </insert>

  <insert id="batchInsert" parameterType="List"   databaseId="oracle">
    BEGIN
    insert into cc_skill_group (cts, company_id, skill_id, group_id, rank_about,  rank_value_start, rank_value, rate,  status) values
    <foreach collection ="list" item="item" separator =",">
      (#{item.cts,jdbcType=BIGINT}, #{item.companyId,jdbcType=BIGINT}, #{item.skillId,jdbcType=BIGINT}, #{item.groupId,jdbcType=BIGINT}, #{item.rankAbout,jdbcType=INTEGER},
      #{item.rankValueStart,jdbcType=INTEGER}, #{item.rankValue,jdbcType=INTEGER}, #{item.rate,jdbcType=INTEGER},#{item.status,jdbcType=INTEGER})
    </foreach>
    COMMIT;
    END;
  </insert>

  <!--查询技能组的技能 -->
  <select id="selectByGroup" parameterType="Long" resultMap="BaseResultMap">
    select
        b.id, b.cts, b.uts, b.company_id, b.skill_id, b.group_id, b.rank_about, b.rank_value_start, b.rank_value, b.rate, b.status
    from
        cc_skill a , cc_skill_group b where a.company_id = b.company_id and a.id = b.skill_id and b.group_id = #{id} and a.status = 1
  </select>
</mapper>