<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voice9.core.mapper.SkillGroupMapper">
    <resultMap id="BaseResultMap" type="com.voice9.core.entity.SkillGroup">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="cts" jdbcType="BIGINT" property="cts"/>
        <result column="uts" jdbcType="BIGINT" property="uts"/>
        <result column="company_id" jdbcType="BIGINT" property="companyId"/>
        <result column="level_value" jdbcType="INTEGER" property="levelValue"/>
        <result column="skill_id" jdbcType="BIGINT" property="skillId"/>
        <result column="group_id" jdbcType="BIGINT" property="groupId"/>
        <result column="rank_type" jdbcType="INTEGER" property="rankType"/>
        <result column="rank_value_start" jdbcType="INTEGER" property="rankValueStart"/>
        <result column="rank_value" jdbcType="INTEGER" property="rankValue"/>
        <result column="match_type" jdbcType="INTEGER" property="matchType"/>
        <result column="share_value" jdbcType="INTEGER" property="shareValue"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        , cts, uts, company_id, level_value, skill_id, group_id, rank_type, rank_value_start, rank_value,
    match_type, share_value, status
    </sql>


    <insert id="insert" parameterType="com.voice9.core.entity.SkillGroup">
        insert into cc_skill_group (id, cts, uts, company_id, level_value, skill_id, group_id, rank_type,
                                    rank_value_start, rank_value, match_type, share_value, status)
        values (#{id,jdbcType=BIGINT}, #{cts,jdbcType=BIGINT}, #{uts,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT},
                #{levelValue,jdbcType=INTEGER},
                #{skillId,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{rankType,jdbcType=INTEGER},
                #{rankValueStart,jdbcType=INTEGER}, #{rankValue,jdbcType=INTEGER}, #{matchType,jdbcType=INTEGER},
                #{shareValue,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
    </insert>


    <insert id="batchInsert" parameterType="List" >
        insert into cc_skill_group (cts, company_id, level_value, skill_id, group_id, rank_type, rank_value_start,
        rank_value, match_type, share_value, status) values
        <foreach collection="list" item="item" separator=",">
            (#{item.cts,jdbcType=BIGINT}, #{item.companyId,jdbcType=BIGINT}, #{item.levelValue,jdbcType=INTEGER},
            #{item.skillId,jdbcType=BIGINT}, #{item.groupId,jdbcType=BIGINT}, #{item.rankType,jdbcType=INTEGER},
            #{item.rankValueStart,jdbcType=INTEGER}, #{item.rankValue,jdbcType=INTEGER},
            #{item.matchType,jdbcType=INTEGER}, #{item.shareValue,jdbcType=INTEGER}, #{item.status,jdbcType=INTEGER})
        </foreach>
    </insert>

    <insert id="batchInsert" parameterType="List" databaseId="oracle">
        BEGIN
        insert into cc_skill_group (cts, company_id, skill_id, group_id, rank_type, rank_value_start, rank_value,
        match_type, share_value, status) values
        <foreach collection="list" item="item" separator=",">
            (#{item.cts,jdbcType=BIGINT}, #{item.companyId,jdbcType=BIGINT}, #{item.levelValue,jdbcType=INTEGER},
            #{item.skillId,jdbcType=BIGINT}, #{item.groupId,jdbcType=BIGINT}, #{item.rankType,jdbcType=INTEGER},
            #{item.rankValueStart,jdbcType=INTEGER}, #{item.rankValue,jdbcType=INTEGER},
            #{item.matchType,jdbcType=INTEGER}, #{item.shareValue,jdbcType=INTEGER}, #{item.status,jdbcType=INTEGER})
        </foreach>
        COMMIT;
        END;
    </insert>

    <!--查询技能组的技能 -->
    <select id="selectByGroup" parameterType="Long" resultMap="BaseResultMap">
        select b.id,
               b.cts,
               b.uts,
               b.company_id,
               b.level_value,
               b.skill_id,
               b.group_id,
               b.rank_type,
               b.rank_value_start,
               b.rank_value,
               b.match_type,
               b.share_value,
               b.status
        from cc_skill a,
             cc_skill_group b,
             cc_group c
        where a.company_id = b.company_id
          and a.id = b.skill_id
          and c.id = #{id}
          and c.id = b.group_id
          and c.status = 1
          and a.status = 1
    </select>

    <!--查询技能组的技能 -->
    <select id="selectBySkill" parameterType="Long" resultMap="BaseResultMap">
        select b.id,
               b.cts,
               b.uts,
               b.company_id,
               b.level_value,
               b.skill_id,
               b.group_id,
               b.rank_type,
               b.rank_value_start,
               b.rank_value,
               b.match_type,
               b.share_value,
               b.status
        from cc_skill a,
             cc_skill_group b,
             cc_group c
        where a.company_id = b.company_id
          and a.id = b.skill_id
          and a.id = #{id}
          and c.id = b.group_id
          and c.status = 1
          and a.status = 1
    </select>
</mapper>