<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cti.cc.mapper.StatHourAgentWorkMapper">
    <resultMap id="BaseResultMap" type="org.cti.cc.entity.StatHourAgentWork">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="cts" jdbcType="BIGINT" property="cts"/>
        <result column="company_id" jdbcType="BIGINT" property="companyId"/>
        <result column="agent_key" jdbcType="VARCHAR" property="agentKey"/>
        <result column="agent_name" jdbcType="VARCHAR" property="agentName"/>
        <result column="state_time" jdbcType="BIGINT" property="stateTime"/>
        <result column="login_time" jdbcType="BIGINT" property="loginTime"/>
        <result column="ready_time" jdbcType="BIGINT" property="readyTime"/>
        <result column="not_ready_time" jdbcType="BIGINT" property="notReadyTime"/>
        <result column="busy_time" jdbcType="BIGINT" property="busyTime"/>
        <result column="after_time" jdbcType="BIGINT" property="afterTime"/>
        <result column="talk_time" jdbcType="BIGINT" property="talkTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
    </resultMap>
    <sql id="Base_Column_List">
        id
        , cts, company_id, agent_key, agent_name, state_time, login_time, ready_time, not_ready_time,
    busy_time, after_time, talk_time, status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cc_stat_hour_agent_work
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from cc_stat_hour_agent_work
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="org.cti.cc.entity.StatHourAgentWork">
        insert into cc_stat_hour_agent_work (id, cts, company_id,
                                             agent_key, agent_name, state_time,
                                             login_time, ready_time, not_ready_time,
                                             busy_time, after_time, talk_time,
                                             status)
        values (#{id,jdbcType=BIGINT}, #{cts,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT},
                #{agentKey,jdbcType=VARCHAR}, #{agentName,jdbcType=VARCHAR}, #{stateTime,jdbcType=BIGINT},
                #{loginTime,jdbcType=BIGINT}, #{readyTime,jdbcType=BIGINT}, #{notReadyTime,jdbcType=BIGINT},
                #{busyTime,jdbcType=BIGINT}, #{afterTime,jdbcType=BIGINT}, #{talkTime,jdbcType=BIGINT},
                #{status,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="org.cti.cc.entity.StatHourAgentWork">
        insert into cc_stat_hour_agent_work
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cts != null">
                cts,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="agentKey != null">
                agent_key,
            </if>
            <if test="agentName != null">
                agent_name,
            </if>
            <if test="stateTime != null">
                state_time,
            </if>
            <if test="loginTime != null">
                login_time,
            </if>
            <if test="readyTime != null">
                ready_time,
            </if>
            <if test="notReadyTime != null">
                not_ready_time,
            </if>
            <if test="busyTime != null">
                busy_time,
            </if>
            <if test="afterTime != null">
                after_time,
            </if>
            <if test="talkTime != null">
                talk_time,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="cts != null">
                #{cts,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=BIGINT},
            </if>
            <if test="agentKey != null">
                #{agentKey,jdbcType=VARCHAR},
            </if>
            <if test="agentName != null">
                #{agentName,jdbcType=VARCHAR},
            </if>
            <if test="stateTime != null">
                #{stateTime,jdbcType=BIGINT},
            </if>
            <if test="loginTime != null">
                #{loginTime,jdbcType=BIGINT},
            </if>
            <if test="readyTime != null">
                #{readyTime,jdbcType=BIGINT},
            </if>
            <if test="notReadyTime != null">
                #{notReadyTime,jdbcType=BIGINT},
            </if>
            <if test="busyTime != null">
                #{busyTime,jdbcType=BIGINT},
            </if>
            <if test="afterTime != null">
                #{afterTime,jdbcType=BIGINT},
            </if>
            <if test="talkTime != null">
                #{talkTime,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.cti.cc.entity.StatHourAgentWork">
        update cc_stat_hour_agent_work
        <set>
            <if test="cts != null">
                cts = #{cts,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="agentKey != null">
                agent_key = #{agentKey,jdbcType=VARCHAR},
            </if>
            <if test="agentName != null">
                agent_name = #{agentName,jdbcType=VARCHAR},
            </if>
            <if test="stateTime != null">
                state_time = #{stateTime,jdbcType=BIGINT},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime,jdbcType=BIGINT},
            </if>
            <if test="readyTime != null">
                ready_time = #{readyTime,jdbcType=BIGINT},
            </if>
            <if test="notReadyTime != null">
                not_ready_time = #{notReadyTime,jdbcType=BIGINT},
            </if>
            <if test="busyTime != null">
                busy_time = #{busyTime,jdbcType=BIGINT},
            </if>
            <if test="afterTime != null">
                after_time = #{afterTime,jdbcType=BIGINT},
            </if>
            <if test="talkTime != null">
                talk_time = #{talkTime,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.cti.cc.entity.StatHourAgentWork">
        update cc_stat_hour_agent_work
        set cts            = #{cts,jdbcType=BIGINT},
            company_id     = #{companyId,jdbcType=BIGINT},
            agent_key      = #{agentKey,jdbcType=VARCHAR},
            agent_name     = #{agentName,jdbcType=VARCHAR},
            state_time     = #{stateTime,jdbcType=BIGINT},
            login_time     = #{loginTime,jdbcType=BIGINT},
            ready_time     = #{readyTime,jdbcType=BIGINT},
            not_ready_time = #{notReadyTime,jdbcType=BIGINT},
            busy_time      = #{busyTime,jdbcType=BIGINT},
            after_time     = #{afterTime,jdbcType=BIGINT},
            talk_time      = #{talkTime,jdbcType=BIGINT},
            status         = #{status,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>


    <!-- 批量插入 -->
    <insert id="batchInsert" parameterType="List" useGeneratedKeys="true" keyProperty="id" databaseId="mysql">
        insert into cc_stat_hour_agent_work (cts, company_id, agent_key, agent_name, state_time, login_time, ready_time,
        not_ready_time, busy_time, after_time, talk_time, status) values
        <foreach collection="list" item="item" separator=",">
            (#{item.cts,jdbcType=BIGINT}, #{item.companyId,jdbcType=BIGINT}, #{item.agentKey,jdbcType=VARCHAR},
            #{item.agentName,jdbcType=VARCHAR}, #{item.stateTime,jdbcType=BIGINT}, #{item.loginTime,jdbcType=BIGINT},
            #{item.readyTime,jdbcType=BIGINT}, #{item.notReadyTime,jdbcType=BIGINT},#{item.busyTime,jdbcType=BIGINT},
            #{item.afterTime,jdbcType=BIGINT}, #{item.talkTime,jdbcType=BIGINT}, #{item.status,jdbcType=INTEGER})
        </foreach>
    </insert>

    <insert id="batchInsert" parameterType="List" databaseId="oracle">
        BEGIN
        insert into cc_stat_hour_agent_work (cts, company_id, agent_key, agent_name, state_time, login_time, ready_time,
        not_ready_time, busy_time, after_time, talk_time, status) values
        <foreach collection="list" item="item" separator=",">
            (#{item.cts,jdbcType=BIGINT}, #{item.companyId,jdbcType=BIGINT}, #{item.agentKey,jdbcType=VARCHAR},
            #{item.agentName,jdbcType=VARCHAR}, #{item.stateTime,jdbcType=BIGINT}, #{item.loginTime,jdbcType=BIGINT},
            #{item.readyTime,jdbcType=BIGINT}, #{item.notReadyTime,jdbcType=BIGINT},#{item.busyTime,jdbcType=BIGINT},
            #{item.afterTime,jdbcType=BIGINT}, #{item.talkTime,jdbcType=BIGINT}, #{item.status,jdbcType=INTEGER})
        </foreach>
        COMMIT;
        END;
    </insert>

    <!-- 重复统计时，需要先删除数据 -->
    <delete id="deleteAgentHourStat" parameterType="Long">
        delete
        from cc_stat_hour_agent_work
        where state_time = #{statTime}
    </delete>

</mapper>